name: OWASP ZAP Integration with GitHub Actions

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web applicationconfigure permissions in Actions settings
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set permissions
        run: |
          mkdir /tmp/zap
          chmod a+w /tmp/zap
          ls -la /tmp/zap

      - name: ZAP Scan
        run: docker run --rm -v $(pwd):/zap/wrk -t zaproxy/zap-stable zap-full-scan.py -t https://google-gruyere.appspot.com/ -J report.json -I
        working-directory: /tmp/zap

      - name: View files
        run: |
          cat report.json
        working-directory: /tmp/zap

      - name: Push report to CSPM panel
        run: |
          curl --location --request POST 'https://${{ env.endpoint }}/api/v1/artifact/?tenant_id=${{ env.tenant_id }}&data_type=ZAP&label_id=dast&save_to_s3=false' --header 'Tenant-Id: ${{ env.tenant_id }}' --header 'Authorization: Bearer ${{ env.token }}' --form 'file=@report.json'
        env:
          token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoyMjAyNTQ1MTc4LCJqdGkiOiI5NDZkZmM1ODNkNTE0NGZmYWZjNmFjMzhmZTQwM2E3MSIsImlzcyI6ImNzcG0uZGVtby5hY2N1a25veC5jb20ifQ.Id_berqmbHZPB7pB5k9PdYq4GpOZTNILvMfcARrt2k1i2b107q5u8V3ROkRSFOx4Sjnok734wuwJ-4_5_l8C-1e85RkW-xFpzzTF5o6kv8CcSSRSvI6XYafAy9CxvGF32yNZoTmiNF8Psz8iHZdNitAXEFZgL4ZYLqjNxJHAXNA8xHk1kYYsn0jHD3MsvMbI-VALSHHcM1ASPKHwmn8r-xEA2Y7lwul1QYW4QdvnTIaYAplxpUZD30dYX9WY0nIK7A17b69_xoHldpr-Dy5OaBGBg9gmDA9KCjOZD8nbltsSxBwDzHhLnRejUHgef6kdGsyvzuhk5Q_pwz5iakN7VA"
          endpoint: "cspm.demo.accuknox.com"
          tenant_id: "167"
        working-directory: /tmp/zap
