name: OWASP ZAP Integration with GitHub Actions

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web applicationconfigure permissions in Actions settings
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main

      - name: Set permissions
        run: |
          mkdir /tmp/zap
          chmod a+w /tmp/zap
          ls -la /tmp/zap

      - name: ZAP Scan
        run: docker run --rm -v $(pwd):/zap/wrk -t zaproxy/zap-stable zap-baseline.py -t https://www.accuknox.com/ -J report.json -I
        working-directory: /tmp/zap

      - name: View files
        run: |
          cat report.json
        working-directory: /tmp/zap

      - name: Push report to CSPM panel
        run: |
          curl --location --request POST 'https://${{ env.endpoint }}/api/v1/artifact/?tenant_id=${{ env.tenant_id }}&data_type=ZAP&label_id=DAST&save_to_s3=false' --header 'Tenant-Id: ${{ env.tenant_id }}' --header 'Authorization: Bearer ${{ env.token }}' --form 'file=@report.json'
        env:
          token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoyMTY5OTU2NDE0LCJqdGkiOiJkNmM5MTI3N2E5MmE0ZDNkYmJkOTUwNDc5YTlkZWRmYyIsImlzcyI6ImNzcG0uY25hcHAuYWNjdWtub3guY29tIn0.r3qdcs8xDWe-01KIa8BNRohCEC--XfMy6BADOAPAJkzQ1JBF1871BIB0ZQ20GsWv3At9wvRlkCteYL2MM-6BzBV7nZAtsONSXBc5plepk9itCPaGfezjy159Lsc89BeEZkKnqViBXl9iEFEqfiN7W26KTCqHZY3s225zoDVWfaeZdxWUDBk9f2YPNDvoFYukroiriCt9p_bluv2BL10r8N0mp9cBgg28KBVMkH3_5uxl3aa3QUoGMaBLgZ6VUeKBg70Bx1aooS1UuVygE3sCujJo8_WuenUztPKc03RVRD0LtYpWqIVO9SuT2THFHXwrg_FouEAn0xhq4PkrZ8GY3A"
          endpoint: "cspm.cnapp.accuknox.com"
          tenant_id: "3"
        working-directory: /tmp/zap
